<div id="contact">
  <form name="contact" id="contactForm" method="POST" data-netlify="true">
    <p>
      <label>Your Name: <input type="text" id="name" name="name" /></label>
    </p>
    <p>
      <label>Your Email: <input type="email" id="email" name="email" /></label>
    </p>
    <p>
      <label>Message: <textarea name="message" id="message"></textarea></label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
  <p id="result"></p>
</div>
