---
permalink:
  build: "/"
  onrequest: "/"
---
<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | url }}">
</head>
<body>
  {% include 'fact.njk' %}
  {% include 'blog.njk' %}
  {% include 'featured.njk' %}
  {% include 'news.njk' %}
  {% include 'activity.njk' %}
  <hr>
  {% include 'form.njk' %}
  <hr>
  <p>Build date: {{ page.date }}</p>
  {# <script src="{{ 'assets/js/scripts.js' | url }}"></script> #}
</body>
</html>
